body{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 70px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 70px;

}
nav img{
    height: 50px;
    border-radius: 60px;
    box-shadow: 0 0 10px 1px rebeccapurple;
}
nav div {
    margin: 10px;
}
.services{
    color: rebeccapurple;
    width: 488px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
}
svg{
    width: 30px;
    color: palegoldenrod;
}
svg:hover{
    border-radius: 200px;
    box-shadow: white 0px 0px 10px 1px;
    cursor: pointer;
    color: darkturquoise;
}
.login{
    color: black;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login a {
    background-color: yellow;
    color: black;
    width: 86px;
    text-align: center;

}