body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;;
    background: linear-gradient(45deg, darkgrey, #3a4452, darkslategrey);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
    height: 70px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 70px;

}
nav img{
    height: 50px;
    border-radius: 60px;
    box-shadow: 0 0 10px 1px rebeccapurple;
}
nav div {
    margin: 10px;
}
.services{
    color: rebeccapurple;
    width: 488px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration: none;
}
svg{
    width: 30px;
    color: palegoldenrod;
}
svg:hover{
    border-radius: 200px;
    box-shadow: white 0px 0px 10px 1px;
    cursor: pointer;
    color: darkturquoise;
}
.login a{
    background-color: ghostwhite;
    color: black;
    width: 86px;
    font-size: 17px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

}
.login a:hover {
    box-shadow: 0px 0px 5px 1px peachpuff;
}
.login{
    color: black;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


                                    /*              Navbar ended                 */

.container {
    background-color: #0a0a0a;
    display: flex;
    gap: 10px;
    width: minmax;
    height: 76vh;
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, darkgrey, #3a4452, darkslategrey);   
}

.child{
    background-color: #6a6a6a;
    width: 192px;
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 05px;
    font-size: bolder;    
    font-size: 18px;
}
.landlord{
    background-image: url(./Assets/Fabulous_Unique_Home_HD_Wallpapers.jpg);
    background-repeat: no-repeat;
    color: black;
}
.Tenant{
    background-image: url(./Assets/hp-hero-desktop.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}





                                /*                      Footer  */



footer{
    height: 13.2vh;
    background: linear-gradient(111deg, darkslategrey, whi);
    display: flex;
    justify-content: space-between;
}
.links{
    width: 20vh;
    margin-left: 11px;
}
.links h2,p{
    font-size: medium;
    margin: 2px;
    padding: 0px;
}
.links h2{
    margin-bottom: 6px;
}

.heading{
    width: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}